body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}
  
/* Welcome Section */
.welcome {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.welcome img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.welcome-container {
    position: relative;
    text-align: center;
    color: white;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
}

.welcome-content{
    position: absolute;
    margin-top:15%;
    width: 100%;
    text-align: center;
}

.topbar h3 {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
    padding-top: 2%;
    text-align: center;
}

.welcome-text1 {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-size: 9vh;
    width: 100%;
    text-align: center;
}

.welcome-text2 {
    font-size: 13vh;
    font-family: "Italianno", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -2%;
    margin-left: 2%;
}

.welcome-text2-row {
    display: flex;
    justify-content: center;
    align-items: center;
    /*gap: 2%;  Adjust spacing between text */
}

.year {
    font-size: 5vh;
    font-weight: lighter;
    font-family: "Italianno", serif;
    padding-bottom: 5%;
    margin-left: 2%;
}

/*Nav section*/
nav {
    width: 100%;
    background-color: white;
    padding: 2% 0;
    margin-bottom: 2%;
}

.nav-container {
    display: flex;
    justify-content: center;
    gap: 10%; 
    flex-wrap: wrap; 
}

.nav-boxs {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; 
    text-align: center;
}

.nav-boxs img {
    width: 100px; /*img's size*/
    height: auto;
    margin-bottom: 2%; 
}

.nav-boxs a {
    text-decoration: none;
    color: black;
    font-family: "Libre Caslon Text", serif;
    font-size: 2vh;
    font-weight: lighter;
    font-style: italic;
}

/*AboutMe section*/

.aboutme{
    background-color: black;
}

.aboutme-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5%;
    gap: 5%;
}

.aboutme-image-profile{
    width: 50%;
    margin-left: 3%;
}

.aboutme-image-profile img{
    width: 110%;
}

.aboutme-description{
    width: 70%;
}

.aboutme-details{
    color: white;
    margin-left: 2%;
    width: 100%;
}

.title-texts{
    font-family: "Italianno", serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 8vh;
}

.subtitle-texts{
    color: #3172FF;
    font-family: "Libre Caslon Text", serif;
    font-size: 5vh;
    font-weight: lighter;
    padding: 2% 0;
    
}

.aboutme-description .description{
    font-family: "Libre Baskerville", serif;
    font-weight: lighter;
    font-size: 2vh;
    margin: 2% 0;
}

/*AboutMe section- education*/
.aboutme-educational{
    color: white;
}

.aboutme-educational .subtitle-texts{
    font-size: 4vh;
}

.educational-location{
    font-family: "Libre Baskerville", serif;
    font-weight: lighter;
    font-size: 2.5vh;
}

.educational-detail{
    font-family: "Libre Baskerville", serif;
    font-weight: 50;
    font-size: 2vh;
    padding: 0.5% 0;
}

.aboutme-educational-school{
    margin-top: 2%;
}

/*Skills section*/
.skills {
    background-color: white;
    padding: 5%;
}

.skills .title-texts{
    font-family: "Libre Caslon Text", serif;
    font-weight: lighter;
    font-style: normal;
    color: #3172FF;
    margin: 2% 0;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0%;
    gap: 5%;
}

.skills-container .category{
    width: 30%;
}

.category-name{
    font-family: "Italianno", serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 6vh;
    text-align: center;
}

.category-section{
    padding: 2% 10% ;
}

.category-subsection{
    margin-left: 8%;
    font-family: "Albert Sans", sans-serif;
    font-size: 3vh;
}

li{
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    font-size: 2.5vh;
    margin-left: 5%;
}


/*Experiece section*/
.experiences{
    background-color: black;
    padding: 3%;
    height: 100%;
}

.experiences .title-text{
    font-family: "Libre Caslon Text", serif;
    font-weight: lighter;
    font-style: normal;
    font-size: 6vh;
    color: white;
    margin-inline-start: 7%;
}

.experiences-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-inline-start: 7%;
}


.experiences-container img{
    width: 395.62px;
    height: 488px;
    border-radius: 20px;
    margin-top: 5%;
    
}

.experience-1{
    display: block;
    align-items: center;

}

.page-5-decription-boxs{
    position: relative; /* adjust postion */
    margin: 0 auto; /* center horizontally */
    top: -30px; /* overlap images */
    background-color: #D9D9D9;
    max-height: 60px; /*not hover*/
    width: 320px;
    border-radius: 20px;
    padding: 7% 6%;
    transition: max-height 0.4s ease;
}

.page-5-decription-boxs .experience-name{
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-size: 2vh;
}

.page-5-decription-boxs .experience-location{
    font-family: "Albert Sans", sans-serif;
    font-weight: 500;
    font-size: 2vh;
    color: #3172FF;
    padding-top: 1%;
}

.experience-description{
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    font-size: 2vh;
    margin-top: 2%;
    color: #313131;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.8vh;
}

a:hover{
    color: #3172FF;
}

.experiences .message-item {
    position: relative; /* Top layers */
    top: 50px;
}

.message-item {
    margin: 0 auto; 
    background-color: #007aff;
    padding: 10px 18px;
    border-radius: 20px;
    margin: 8px 0;
    max-width: 200px;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.message-detail {
    display: block; 
    margin-top: 1%;
    font-family: "Libre Baskerville", serif;
    font-size: 2.3vh;
    opacity: 1;
    color: white;
    text-align: center;
}

/* Experiences - time transition */

.experience-1,
.experience-2,
.experience-3,
.experience-1 .message-item,
.experience-2 .message-item,
.experience-3 .message-item,
.experience-1 .description-box,
.experience-2 .description-box,
.experience-3 .description-box {
    transition: all 0.5s ease;
}

/*  Experiences - hover 1 effects */
.experience-1:hover,
.experience-2:hover,
.experience-3:hover {
    transform: scale(1.05);
    z-index: 11;
}

.experiences-container:has(.experience-3:hover) .experience-1,
.experiences-container:has(.experience-3:hover) .experience-2,
.experiences-container:has(.experience-2:hover) .experience-1,
.experiences-container:has(.experience-1:hover) .experience-2,
.experiences-container:has(.experience-1:hover) .experience-3,
.experiences-container:has(.experience-2:hover) .experience-3 {
    opacity: 0.2;
}

.experience-1:hover .message-item,
.experience-2:hover .message-item,
.experience-3:hover .message-item,
.experience-1:hover .description-box,
.experience-2:hover .description-box,
.experience-3:hover .description-box {
    transform: translateY(-5px);
}

/* Default state: hide hr and description */
.experience-description,
.page-5-decription-boxs hr {
    opacity: 0;
    transform: translateY(20px); /*trasition from below*/
    transition: all 0.4s ease-in-out;
}

/* When hovering over the whole card */
.experience-1:hover .page-5-decription-boxs hr,
.experience-2:hover .page-5-decription-boxs hr,
.experience-3:hover .page-5-decription-boxs hr,
.experience-1:hover .experience-description,
.experience-2:hover .experience-description,
.experience-3:hover .experience-description {
    opacity: 1;
    transform: translateY(0);
}

/* height of boxs */
.experience-1:hover .page-5-decription-boxs,
.experience-2:hover .page-5-decription-boxs,
.experience-3:hover .page-5-decription-boxs {
    max-height: 300px;
    transition: max-height 0.4s ease-in-out;
}


/* Award section */

.award {
    padding-bottom: 5%;
}

.award .title-texts{
    font-family: "Libre Caslon Text", serif;
    font-weight: lighter;
    font-style: normal;
    color: #3172FF;
    text-align: center;
    margin-top: 5%;
}

.award .subtitle-texts{
    font-family: "Libre Caslon Text", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5vh;
    color: black;
    text-align: center;
}

.award-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.award .ios-topbar {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 0 1rem;
    height: 37px;
    width: 100%;
    border-radius: 50px 50px 0px 0px;
    box-sizing: border-box;
}

.ios-topbar-dot {
    display: flex;
    gap: 10px;
  
}

.ios-topbar-dot .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.dot.red { background-color: #FF605C; }
.dot.yellow { background-color: #FFBD44; }
.dot.green { background-color: #00CA4E; }
.dot.blue { background-color: #3172FF; }

.ios-topbar-text {
    font-size: 2vh;
    font-weight: lighter;
    color: #838383;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.award-img {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 0;
}

.ios-buttombar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    padding: 0 1rem;
    height: 80px;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
    box-sizing: border-box;
}

.ios-buttombar .dot {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3172FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ios-buttombar .dot i {
    color: white;
    font-size: 25px;
}

  
.award-date {
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-size: 2.5vh;
    text-align: center; 
    margin-top: 3%;
    color: #333;
}
  
.award-location {
    font-family: "Albert Sans", sans-serif;
    font-size: 2.2vh;
    text-align: center; 
    color: #777;
    margin-top: 1%;
    margin-bottom: 2rem;
}

.award-description{
    font-family: "Albert Sans", sans-serif;
    font-style: normal;
    text-align: center; 
    margin: 0% 20% 2%;
    font-size: 2.3vh;
}

.button-container{
    display: flex;
    justify-self: center;
}

.read-detail-btn {
    display: inline-block;
    background-color: white;
    width: 243px;
    height: 48px;
    border: 1px solid black;
    border-radius: 30px;
    font-family: "Albert Sans", sans-serif;
    font-style: normal;
    font-size: 2vh;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-container:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/*Programming project section*/
.project-1{
    margin-bottom: 3%;
}

.programing-projects hr{
    width: 1175px;
}

.project-1 .project-header{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap; /* เผื่อหน้าจอเล็กจะได้ขึ้นบรรทัดใหม่ */
    margin-bottom: 1rem;
    margin: 2% 10% ;
}

.project-1 .title-texts{
    font-family: "Libre Baskerville";
    font-size: 6vh;
    color: #3172FF;
    width: 50%;
}

.project-1  .message-item{
    left: 30%;
    max-width: 300px;
    height: auto;
    padding: 3% 1%;
    border-radius: 30px;
}

.project-1 .title-texts .message-item span{
    font-family: "Albert Sans", sans-serif;
    font-style: normal;
    font-size: 2.5vh;
}

.project-1 .title-texts span{
    margin: 0%;
}

.project-1 .title-texts p{
    display: inline;
    font-family: "Italianno", serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.3s ease;
}

.project-1 .tag-containers{
    width: 50%;
}

.project-1 .tag-containers .tag{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 2.2vh;
    padding: 2% 3%;
    margin: 2%;
}

.project-1 .project-contents{
    display: flex;
    justify-content: center;
    margin: 0% 6%;
}

.project-1 .project-contents img{
    position: relative;
    width: 40%;
    height: auto;
    margin: 0% 5% 0% 0% ;
}

.project-1 .project-description{
    background-color: #F5F5F5;
    width: 40%;
    height: auto;
    border-radius: 20px;
    padding: 1.5% 2%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.project-1 .project-description h3{
    font-family: "Albert Sans", sans-serif;
    font-weight: 700;
    font-size: 3vh;
    padding-bottom: 2%;
}

.project-1 .project-description p{
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 1.4;
    padding-bottom: 2%;
}

.project-1 .key-features h3{
    font-family: "Albert Sans", sans-serif;
    font-weight: 700;
    font-size: 3vh;
}

.project-1 .key-features li{
    font-family: "Albert Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 2.2vh;
}

/*Programming Project 2*/
.project-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.project-2 .project-container {
   width: 50%;
   margin:  0% 5% 0% 10%;
}
.project-2 .message-item{
    max-width: 300px;
    height: auto;
    padding: 3% 2%;
    border-radius: 30px;
}

.project-2 .message-item span{
    font-family: "Albert Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vh;
}

.project-2 .tag-container{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-2 .tag {
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 2.2vh;
    padding: 2% 3%;
}

.project-2 .project-content {
    margin-top: 2%;
}

.project-2 .project-content h3 {
    font-family: "Albert Sans", sans-serif;
    font-weight: 700;
    font-size: 3vh;
    padding: 2% 0% 2% 0%;
}

.project-2 .project-content p {
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 1.4;
    padding-bottom: 3%;
}

.project-2 .project-images {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    
}

.project-2 .project-images {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column; 
    margin-right: 10%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 3%;
}

.project-2 .project-images img {
    width: 100%;
}

.project-2 .project-images .search-icon {
    position: absolute;
    top: -10%;
    left: 40%;
    font-size: 2rem;
    color: rgb(68, 68, 68);
    background-color: white;
    border: 1px solid #313131;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;             
    align-items: center;
    justify-content: center;
}


/*Programming Project 3*/
.project-3 {
    width: 100%;
}
.project-3 .project-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0% 10%; 
}



.project-3 .tag-containers{
    width: 50%;
    margin-top: 4rem;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-3 .tag {
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 2.2vh;
    padding: 2% 3%;
}


@media (max-width: 768px) {
    .welcome-text1 {
        font-size: 36px;
    }

    .welcome-text2 {
        font-size: 48px;
    }

    .year {
        font-size: 18px;
    }
}
